@model QuestionnaireViewModel?

@{
  ViewData["Title"] = "Edit the questionnaire";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/groups/9R6te7wT">Back to Care Leavers</a>
}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Are you sure you want to delete this questionnaire?</h1>
        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <div class="govuk-button-group">
            <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="/forms/262709/delete" data-govuk-button-init="">Yes</a>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/forms/262709/delete" data-govuk-button-init="">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>