@{
  ViewData["Title"] = "Home Page";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/groups/9R6te7wT">Back to Care Leavers</a>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">Care Leavers Questionnaire</span><span class="govuk-visually-hidden"> - </span>
      Create a questionnaire
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><strong class="govuk-tag govuk-tag--yellow">Draft</strong>
      </dd>
    </dl>
    <p class="govuk-!-margin-bottom-9">
      <a class="govuk-link" href="https://submit.forms.service.gov.uk/preview-draft/262709/this-is-a-research-questionnaire">Preview this questionnaire</a>
    </p>
    <p class="app-task-list__summary">
      You’ve completed 1 of 8 tasks.
    </p>
    <div class="app-task-list">
      <h2 class="govuk-heading-m">
        1. Create your questionnaire
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/forms/262709/change-name">Edit the name of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status">Completed</div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-2-status" href="/Admin/Questionnaires/1/Questions">Add and edit your questions</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-2-status"><strong class="govuk-tag govuk-tag--light-blue">In progress</strong></div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-3-status" href="/forms/262709/declaration">Add a declaration for people to agree to</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-3-status"><strong class="govuk-tag govuk-tag--blue">Not started</strong></div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-4-status" href="/forms/262709/what-happens-next">Add information about what happens next</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-4-status"><strong class="govuk-tag govuk-tag--blue">Not started</strong></div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        2. Set up how you get completed questionnaires
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="set-up-how-you-get-completed-forms-1-status" href="/forms/262709/submission-email">Set the email address completed forms will be sent to</a></div>
          <div class="govuk-task-list__status" id="set-up-how-you-get-completed-forms-1-status"><strong class="govuk-tag govuk-tag--blue">Not started</strong></div>
        </li>
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">Enter the email address confirmation code</div>
          <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="set-up-how-you-get-completed-forms-2-status">Cannot start yet</div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        3. Provide privacy and contact details
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="provide-privacy-and-contact-details-1-status" href="/forms/262709/privacy-policy">Provide a link to privacy information for this questionnaire</a>
          </div>
          <div class="govuk-task-list__status" id="provide-privacy-and-contact-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="provide-privacy-and-contact-details-2-status" href="/forms/262709/contact-details">Provide contact details for support</a>
          </div>
          <div class="govuk-task-list__status" id="provide-privacy-and-contact-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        4. Make your questionnaire live
      </h2>
      <div class="app-task-list__body">
        <p>You cannot make this questionnaire live because you're not an admin for this team.</p>
        <p>
          <a href="/groups/9R6te7wT/request_upgrade">Find out how to upgrade to admin</a> so you can make questionnaires live.
        </p>
      </div>
    </div>
    <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="/forms/262709/delete" data-govuk-button-init="">Delete draft questionnaire</a>
  </div>
</div>