@model QuestionnaireViewModel

@{
    ViewBag.Title = Model.ErrorMessage ?? "Sorry, there is a problem with the service";
    Layout = "_ErrorLayout";
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}

<p class="govuk-body">
    @(Model.ErrorMessage ?? "Try again later").
</p>


