@using Common.Domain
@model QuestionnaireViewModel

@{
  ViewData["Title"] = "Home Page";
}

@section BeforeContent 
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/admin/questionnaires/@Model.QuestionnaireId/Track">Back to Care Leavers Questionnaire</a>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">Care Leavers Questionnaire</span><span class="govuk-visually-hidden"> - </span>
      Add and edit your questions
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><strong class="govuk-tag govuk-tag--yellow">Draft</strong></dd>
    </dl>
    <div class="govuk-button-group">
      <a class="govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3" data-module="govuk-button" href="/admin/questionnaires/@Model.QuestionnaireId/questions/Create" data-govuk-button-init="">Add a question</a>
      <a class="govuk-link" href="/admin/questionnaires/@Model.QuestionnaireId/Initial/Preview">Preview this questionnaire</a>
    </div>
    <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">Your questions</h2>
    <div class="app-page-list">
      <form action="https://admin.forms.service.gov.uk/forms/262709/pages/move-page" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="JnUfB4No57Y0p0QkYNip7BibL9T8jUcobSyzfS9wP_27te-77r5wiY_jFeNrzTGTWculqdoY8GzpyUMVitUSfQ" autocomplete="off">
        
        @if (Model.Questions is { } questions)
        {
          <dl class="govuk-summary-list govuk-!-static-margin-top-3">
          
          @for (int i = 0; i < questions.Count; i++)
          {
            var question = questions[i];
            
            <div id="page_1050713" class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key app-page-list__key govuk-summary-list__key-s">
                @i
              </dt>
              <dd class="govuk-summary-list__value">
                @question.Content
              </dd>
              <dd class="govuk-summary-list__actions govuk-summary-list__actions-m">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="/admin/questions/@question.Id/Edit">Edit</a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="/admin/questions/@question.Id/Switch?order=@(question.Id +1)">Move Down</a>
                  </li>
                </ul>
              </dd>
            </div>
          }
        </dl>
        }
      </form>
    </div>
    <form action="/forms/262709/pages" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="uhB0X3Tem5n6-UTl78Gc6RhkrdosRlR2twuo4VP_svqIk8i5DKP2emegm_CzOPw_DEKCd0Cdwse21wcvz6w-PA" autocomplete="off">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="forms-mark-pages-section-complete-input-mark-complete-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Have you finished editing your questions?</legend>
          <input value="" autocomplete="off" type="hidden" name="forms_mark_pages_section_complete_input[mark_complete]" id="forms_mark_pages_section_complete_input_mark_complete">
          <div class="govuk-hint" id="forms-mark-pages-section-complete-input-mark-complete-hint">Selecting ‘Yes’ will mark this task as complete. You’ll still be able to make changes if you need to.</div>
          <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
            <div class="govuk-radios__item"><input id="forms-mark-pages-section-complete-input-mark-complete-true-field" class="govuk-radios__input" type="radio" value="true" name="forms_mark_pages_section_complete_input[mark_complete]"><label for="forms-mark-pages-section-complete-input-mark-complete-true-field" class="govuk-label govuk-radios__label">Yes</label></div>
            <div class="govuk-radios__item"><input id="forms-mark-pages-section-complete-input-mark-complete-false-field" class="govuk-radios__input" type="radio" value="false" checked="checked" name="forms_mark_pages_section_complete_input[mark_complete]"><label for="forms-mark-pages-section-complete-input-mark-complete-false-field" class="govuk-label govuk-radios__label">No, I’ll come back later</label></div>
          </div>
        </fieldset>
      </div>
      <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Save and continue</button>
    </form>
  </div>
</div>