@using Common.Enum
@model QuestionnaireViewModel

@{
  ViewData["Title"] = "Home Page";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/admin/questionnaires">Back to questionnaires</a>
}

@if (Model.InviteAccepted)
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            You've been added as a contributor.
          </h3>
          <p class="govuk-body">We are glad to have you on the team.</p>
        </div>
      </div>
    </div>
  </div>
} 
else if (Model.JustCreated)
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your questionnaire has been created.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (Model.JustUpdated)
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your changes have been saved.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (Model.JustCloned)
{
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Your clone questionnaire has been created.
        </h3>
      </div>
    </div>
  </div>
</div>
}
else if (Model.JustPublished)
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your questionnaire has been published.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (Model.JustUnpublished)
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your questionnaire has been unpublished.
          </h3>
        </div>
      </div>
    </div>
  </div>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">@Model.Questionnaire?.Title</span><span class="govuk-visually-hidden"> - </span>
      Edit your questionnaire
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@Model.Questionnaire?.Status">@Model.Questionnaire?.Status</strong>
      </dd>
    </dl>
    <div class="govuk-!-margin-bottom-9">
      <p>
        <a class="govuk-link" href="/admin/questionnaires/@Model.Questionnaire?.Id/start/preview" target="_blank">Preview this questionnaire</a>
      </p>
      <p>
        <a class="govuk-link" href="/admin/questionnaires/@Model.Questionnaire?.Id/deployment" target="_blank">How to deploy questionnaire</a>
      </p>
      <p>
        <a class="govuk-link" href="/admin/questionnaires/@Model.Questionnaire?.Id/branching-map" target="_blank" rel="noopener">View branching map</a>
      </p>
    </div>
    <p class="app-task-list__summary">
      You’ve completed 1 of 8 tasks.
    </p>
    <div class="app-task-list">
      <h2 class="govuk-heading-m">
        1. Create your questionnaire
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/edit">Edit the title of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status">Completed</div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="edit-slug-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/slug/edit">Edit the slug of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="edit-slug-status"><strong class="govuk-tag govuk-tag--light-blue">In progress</strong></div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-2-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/questions">Add and edit your questions</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-2-status"><strong class="govuk-tag govuk-tag--light-blue">In progress</strong></div>
        </li>
      </ul>
      <h3 class="govuk-heading-s">Optional task</h3>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="optional-task-1-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/start-page/edit">
              Add a start page
            </a>
          </div>
          <div class="govuk-task-list__status" id="optional-task-1-status">
            <strong class="govuk-tag govuk-tag--grey">Optional</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="optional-task-1-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/contributors">
              Add or remove contributors
            </a>
          </div>
          <div class="govuk-task-list__status" id="optional-task-1-status">
            <strong class="govuk-tag govuk-tag--grey">Optional</strong>
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        2. Customisations and Branding
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/branding">Edit the branding and theme of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status">Completed</div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/customizations">Customise the button text, error messages, etc. of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status">Completed</div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        3. Answer Content
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/admin/questionnaires/@Model.Questionnaire?.Id/contents">Add and edit answer content of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status">Completed</div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        4. Provide privacy and contact details
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="provide-privacy-and-contact-details-1-status" href="/forms/262709/privacy-policy">Provide a link to privacy information for this questionnaire</a>
          </div>
          <div class="govuk-task-list__status" id="provide-privacy-and-contact-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="provide-privacy-and-contact-details-2-status" href="/forms/262709/contact-details">Provide contact details for support</a>
          </div>
          <div class="govuk-task-list__status" id="provide-privacy-and-contact-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
      </ul>
    </div>
    <div class="govuk-button-group">
      @if (Model.Questionnaire?.Status == EntityStatus.Draft)
      {
        <a class="govuk-button govuk-button--primary" data-module="govuk-button" href="/admin/questionnaires/@Model.Questionnaire.Id/publish/confirm" data-govuk-button-init="">Publish questionnaire</a>
      } 
      else if (Model.Questionnaire?.Status == EntityStatus.Published)
      {
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/admin/questionnaires/@Model.Questionnaire.Id/unpublish/confirm" data-govuk-button-init="">Unpublish questionnaire</a>
      }
      <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="/admin/questionnaires/@Model.Questionnaire?.Id/delete/confirm" data-govuk-button-init="">Delete questionnaire</a>
    </div>
    <p>
      <a class="govuk-link" href="/admin/questionnaires/@Model.Questionnaire?.Id/versions">View questionnaire versions</a>
    </p>
    <p>
      <a class="govuk-link" href="/admin/questionnaires/@Model.Questionnaire?.Id/clone">Clone this questionnaire</a>
    </p>
  </div>
</div>

