@using Common.Enum
@model QuestionnaireViewModel

@{
  ViewData["Title"] = "Home Page";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/groups/9R6te7wT">Back to Care Leavers</a>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">Care Leavers Questionnaire</span><span class="govuk-visually-hidden"> - </span>
      Create a questionnaire
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><strong class="govuk-tag govuk-tag--yellow">Draft</strong>
      </dd>
    </dl>
    <p class="govuk-!-margin-bottom-9">
      <a class="govuk-link" href="https://submit.forms.service.gov.uk/preview-draft/262709/this-is-a-research-questionnaire">Preview this questionnaire</a>
    </p>
    <p class="app-task-list__summary">
      You’ve completed 1 of 8 tasks.
    </p>
    <div class="app-task-list">
      <h2 class="govuk-heading-m">
        1. Create your questionnaire
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/forms/262709/change-name">Edit the name of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status">Completed</div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-2-status" href="/Admin/Questionnaires/1/Questions">Add and edit your questions</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-2-status"><strong class="govuk-tag govuk-tag--light-blue">In progress</strong></div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">
        2. Provide privacy and contact details
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="provide-privacy-and-contact-details-1-status" href="/forms/262709/privacy-policy">Provide a link to privacy information for this questionnaire</a>
          </div>
          <div class="govuk-task-list__status" id="provide-privacy-and-contact-details-1-status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="provide-privacy-and-contact-details-2-status" href="/forms/262709/contact-details">Provide contact details for support</a>
          </div>
          <div class="govuk-task-list__status" id="provide-privacy-and-contact-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
      </ul>
    </div>
    <div class="govuk-button-group">
      @if (Model.Questionnaire?.Status == EntityStatus.Draft)
      {
        <a class="govuk-button govuk-button--primary" data-module="govuk-button" href="/Admin/Questionnaires/@Model.Questionnaire.Id/Publish/Confirm" data-govuk-button-init="">Publish questionnaire</a>
      } 
      else if (Model.Questionnaire?.Status == EntityStatus.Published)
      {
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/Admin/Questionnaires/@Model.Questionnaire.Id/Unpublish/Confirm" data-govuk-button-init="">Unpublish questionnaire</a>
      }
      <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="/Admin/Questionnaires/@Model.Questionnaire?.Id/Delete/Confirm" data-govuk-button-init="">Delete questionnaire</a>
    </div>
  </div>
</div>