@media print {
  
  @page {
    size: A4;
    margin: 35px 0;

    @bottom-right {
      margin-right: 10pt;
      font-size: 9pt;
      content: "Page " counter(page) " of " counter(pages);
    }

    @bottom-left {
      content: "Generated: " var(--generated);
      font-size: 9pt;
      margin-left: 10pt;
    }

    @bottom-center {
      font-size: 9pt;
      content: var(--siteurl)
    }
  }
  
  @page:first {
    margin: 0 0 35px;
  }
  
  body {
    width: 100%;
  }
  .govuk-phase-banner {
    display: none;
  }
  .dfe-header {
    padding: 0;
    background-color: #ffffff;
  }
  .dfe-header__link .dfe-logo {
    display: none !important;
  }
  .dfe-header__link .dfe-logo-hover {
    display: inherit !important;
    width: 136px !important;
    height: 80px !important;
  }

  .govuk-template--rebranded {
    .govuk-header {
      background-color: #ffffff;
    }

    .govuk-header__link--homepage:not(:focus),
    .govuk-header__link--homepage
    {
      background-color: #ffffff;
    }

    .govuk-header__link:not(:focus) .govuk-header__logotype, 
    .govuk-header__link:focus .govuk-header__logotype{
      content: url(/assets/department-for-education_black.png);
      height: 30px;
    }
  }

  .govuk-service-navigation__wrapper {
    display: none;
  }

  
  .dfe-page-grey {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .govuk-heading-xl {
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
    font-size: 28pt !important;
  }

  .govuk-body-l {
    margin-bottom: 0.37rem !important;
    font-size: 16pt !important;
  }

  // Hide full width images
  .full-width-image {
    display: none;
  }

  .govuk-main-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #main-content-footer {
    display: none;
  }

  .govuk-footer {
    display: none !important;
    padding: 0;
  }

  .banner {
    display: none;
  }

  .govuk-grid-column-one-half.image-column {
    display: none;
  }
  .split-panel .govuk-grid-column-one-half.text-column {
    padding: 2rem;
  }

  .govuk-grid-column-one-half {
    width: 100%;
  }

  #share-this-page {
    display: none;
  }

  .metadata-logo-wrapper {
    [href^="/"].govuk-link::after, [href^="http://"].govuk-link::after, [href^="https://"].govuk-link::after {
      display: none;
    }
  }

  #main-content-contents {
    display: none;
  }

  .govuk-grid-column-two-thirds {
    width: 100%;
  }

  .govuk-template {
    background-color: inherit;
  }

  p, ul, ol {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .dfe-card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .govuk-heading-m {
    margin-bottom: 0.75rem;
  }
  
  #secondary-content {
    display: none;
  }

  .environment-banner {
    display: none;
  }

  .govuk-breadcrumbs {
    font-size: inherit;
    line-height: 1;
  }

  .govuk-grid-column-two-thirds > .govuk-grid-row > .box-ext {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .govuk-breadcrumbs {
    display: none;
  }

  .gem-c-contents-list__title {
    color: #000;
    line-height: 1.5
  }

  .gem-c-contents-list__list,.gem-c-contents-list__nested-list {
    color: #000
  }

  .gem-c-contents-list__list,.gem-c-contents-list__nested-list {
    font-size: 14pt;
    line-height: 1.2
  }

  .gem-c-contents-list__list,.gem-c-contents-list__nested-list {
    padding-left: 0;
    margin-left: 0
  }

  .gem-c-contents-list__list-item--numbered,.gem-c-contents-list__list-item--parent {
    list-style-type: none
  }

  
  .box-icon {
    float: right;
    width: 30%;
    padding-bottom: 0.25rem;
  }

  .box-content {
    width: 100%;
  }
  
  .box-content h3 {
    break-after: avoid-page;
  }

  .box-icon img {
    max-height: 6rem;
    break-before: avoid-page;
    break-after: avoid-page;
  }

  .box-content p, .box-content ul, .box-content ol, .box-content h4 {
    clear: both;
  }

  // Make link text black and remove underline
  [href^="/"].govuk-link::after, [href^="http://"].govuk-link::after, [href^="https://"].govuk-link::after {
    color: #000000;
    display: inline-block;
    margin-left: 0.1rem;
  }
  
  // Hide link for relative URLs (same site) and WhatsApp links
  [href^="/"].govuk-link::after, [href^="https://wa.me/"].govuk-link::after{
    content: "";
    font-size: inherit;
    word-wrap: inherit;
  }

  .govuk-template--rebranded .govuk-footer {
    display: none;
  }

  .govuk-template--rebranded {
    background-color: inherit;
  }
}
