@using Common.Models
@model Admin.Models.QuestionsPageLayoutViewModel

<div class="govuk-grid-row gtaa-add-edit-questions">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Check your care leaver support</span>
        <h1 class="govuk-heading-l">@Model.Heading</h1>

        @if (Model.ShowDraftTag)
        {
            <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--yellow">Draft</strong>
            </p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.IntroText))
        {
            <p class="govuk-body">
                @Model.IntroText
            </p>
        }

        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button"
               href="@string.Format(Routes.AddQuestion, Model.QuestionnaireId)">
                Add a question
            </a>

            <a class="govuk-link" href="#" target="_blank" rel="noreferrer">
                Preview this questionnaire (opens in new tab)
            </a>
        </div>
        
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Your questions</h2>

        @if (Model.QuestionsList.Questions.Any())
        {
            @await Html.PartialAsync("_QuestionsListPartial", Model.QuestionsList)
        }
        else
        {
            <p class="govuk-body">There are no questions to show yet.</p>
        }
        
         
        <form method="post" class="govuk-!-margin-top-6">
            <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Have you finished editing your questions?
                    </h2>
                </legend>

                <div id="finished-hint" class="govuk-hint">
                    Selecting “Yes” will mark this task as complete. You’ll still be able to make changes if you need to.
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="finished-yes" name="FinishedEditing" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="finished-yes">
                            Yes
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="finished-no" name="FinishedEditing" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="finished-no">
                            No, I’ll come back later
                        </label>
                    </div>
                </div>
            </fieldset>

            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit" asp-page-handler="SaveAndContinue">
                Save and continue
            </button>
        </form>

    </div>
</div>