@page "/admin/questionnaire/{questionnaireId:guid}/questions"
@using Common.Models
@model Admin.Pages.Questions.AddEditQuestionsAndAnswers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add and edit your questions";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back to create your questionnaire</a>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Check your care leaver support</span>
    <h1 class="govuk-heading-l">Add and edit your questions</h1>

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--yellow">Draft</strong>
    </p>

    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="@string.Format(Routes.AddQuestion, Model.QuestionnaireId)">
        Add a question
      </a>

      <a class="govuk-link" href="#" target="_blank" rel="noreferrer">
        Preview this questionnaire (opens in new tab)
      </a>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Your questions</h2>
    
    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-2 govuk-!-background-colour-light-grey">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-0">
              Which of these arrangements apply to you?
            </p>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <a href="#" class="govuk-link">Edit</a>
            <span class="govuk-visually-hidden"> question 1</span>
            |
            <a href="#" class="govuk-link">Move up</a>
            |
            <a href="#" class="govuk-link">Move down</a>
          </div>
        </div>
      </li>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

      <li class="govuk-!-padding-2 govuk-!-background-colour-light-grey">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-0">
              How old are you?
            </p>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <a href="#" class="govuk-link">Edit</a> |
            <a href="#" class="govuk-link">Move up</a> |
            <a href="#" class="govuk-link">Move down</a>
          </div>
        </div>
      </li>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />


      <li class="govuk-!-padding-2 govuk-!-background-colour-light-grey">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-0">
              Were you in care or looked after for some time on or after your 16th birthday?
            </p>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <a href="#" class="govuk-link">Edit</a> |
            <a href="#" class="govuk-link">Move up</a> |
            <a href="#" class="govuk-link">Move down</a>
          </div>
        </div>
      </li>

      <li class="govuk-!-padding-2 govuk-!-background-colour-light-grey">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-0">
              Were you in care or looked after for at least 13 weeks (just over 3 months) after your 14th birthday?
            </p>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <a href="#" class="govuk-link">Edit</a> |
            <a href="#" class="govuk-link">Move up</a>
          </div>
        </div>
      </li>
    </ol>

    <form method="post" class="govuk-!-margin-top-6">
      <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Have you finished editing your questions?
          </h2>
        </legend>

        <div id="finished-hint" class="govuk-hint">
          Selecting “Yes” will mark this task as complete. You’ll still be able to make changes if you need to.
        </div>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="finished-yes" name="FinishedEditing" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="finished-yes">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="finished-no" name="FinishedEditing" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="finished-no">
              No, I’ll come back later
            </label>
          </div>
        </div>
      </fieldset>

      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit">
        Save and continue
      </button>
    </form>

  </div>
</div>