@page "/admin/questionnaires/{questionnaireId:guid}/questions"
@using Common.Models
@model Admin.Pages.Questions.AddEditQuestionsAndAnswers

@{
  Layout = "_Layout";
  ViewData["Title"] = "Add and edit your questions";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back to create your
    questionnaire</a>
}

<div class="govuk-grid-row gtaa-add-edit-questions">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Check your care leaver support</span>
    <h1 class="govuk-heading-l">Add and edit your questions</h1>

    <p class="govuk-body">
      <strong class="govuk-tag govuk-tag--yellow">Draft</strong>
    </p>

    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button"
         href="@string.Format(Routes.AddQuestion, Model.QuestionnaireId)">
        Add a question
      </a>

      <a class="govuk-link" href="#" target="_blank" rel="noreferrer">
        Preview this questionnaire (opens in new tab)
      </a>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Your questions</h2>

    @{
      if (Model.Questions.Any())
      {
        <ol class="govuk-list govuk-list--number govuk-!-margin-top-4 govuk-!-margin-bottom-0">
          @foreach (var question in Model.Questions)
          {
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-margin-bottom-3 govuk-!-background-colour-light-grey">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-margin-bottom-0">
                    @question.Content
                  </p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                  <p class="govuk-body govuk-!-margin-bottom-0">
                    <span class="govuk-!-display-inline-block">
                      <a href="#" class="govuk-link">Edit</a>
                      <span class="govuk-visually-hidden">@question.Order</span>
                      |
                      <a href="#" class="govuk-link">Move up</a>
                      |
                      <a href="#" class="govuk-link">Move down</a>
                    </span>
                  </p>
                </div>
              </div>
            </li>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-question-separator" />
          }
        </ol>
      }
    }

    <form method="post" class="govuk-!-margin-top-6">
      <!-- rest of form unchanged -->
    </form>

  </div>
</div>