@page "/admin/questionnaires/{questionnaireId:guid}/questions/reorder"
@using Admin.Models
@using Common.Models
@model Admin.Pages.Questions.ReorderQuestions

@{
  Layout = "_Layout";
  ViewData["Title"] = "Reorder your questions";

  var questionsViewModel = new QuestionsListViewModel
  {
    Questions = Model.Questions
      .OrderBy(q => q.Order)
      .Select(q => new QuestionViewModel
      {
        QuestionnaireId = Model.QuestionnaireId,
        QuestionId = q.Id,
        Order = q.Order,
        Content = q.Content
      })
      .ToList()
  };

  var layoutViewModel = new QuestionsPageLayoutViewModel
  {
    QuestionnaireId = Model.QuestionnaireId,
    Heading = "Add and edit your questions",
    ShowDraftTag = true,
    IntroText = null, // no extra intro on this page
    QuestionsList = questionsViewModel
  };
}


@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print"
     href="@string.Format(Routes.AddAndEditQuestionsAndAnswers, Model.QuestionnaireId)">
    Back to create your questionnaire
  </a>
}

<div class="govuk-grid-row gtaa-add-edit-questions">
  <div class="govuk-grid-column-full">

    @await Html.PartialAsync("_AddEditQuestionsAndAnswersPartial", layoutViewModel)

    <form method="post" class="govuk-!-margin-top-6">
      <!-- rest of form unchanged -->
    </form>

  </div>
</div>