@{
  ViewData["Title"] = "Home Page";
}

@section BeforeContent 
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/groups/9R6te7wT">Back to Care Leavers Questionnaire</a>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
         <span class="govuk-caption-l">Question 1</span>
         <span class="govuk-visually-hidden"> - </span>
         Add question
      </h1>
      <form action="/forms/262709/pages/1050713/edit/question" accept-charset="UTF-8" method="post">
         <input type="hidden" name="authenticity_token" value="9-l0ed5otc-L6VRbd7Z8h5NLuYqQAnkg3xKNW-TLUXwihQ4L3lOa6FqXpYR5OCbgrSzUtjP9XvZ0dXNP57LKTw" autocomplete="off">
         <div class="govuk-form-group">
            <label for="pages-question-input-question-text-field" class="govuk-label govuk-label--m">Question text</label>
            <div class="govuk-hint" id="pages-question-input-question-text-hint">Ask the question the way you would in person. For example, ‘Which of these countries have you lived in?’</div>
            <input id="pages-question-input-question-text-field" class="govuk-input" aria-describedby="pages-question-input-question-text-hint" type="text" value="select one of these" name="pages_question_input[question_text]">
         </div>
         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         <div class="govuk-form-group">
            <label for="pages-question-input-hint-text-field" class="govuk-label govuk-label--m">Hint text (optional)</label>
            <div class="govuk-hint" id="pages-question-input-hint-text-hint">You can add a short hint to help people answer the question. For a question where people can select more than one answer you might want to use ‘Select all that apply’.</div>
            <textarea id="pages-question-input-hint-text-field" class="govuk-textarea" rows="5" aria-describedby="pages-question-input-hint-text-hint" name="pages_question_input[hint_text]"></textarea>
         </div>
         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         <h2 class="govuk-heading-m">Guidance</h2>
         <p>Only add guidance if you need to give a longer explanation of how to answer the question, or to format your content with paragraphs, headings, lists or links.</p>
         <p>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/forms/262709/pages/1050713/edit/guidance" data-govuk-button-init="">Add guidance</a>
         </p>
         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         <input autocomplete="off" type="hidden" value="true" name="pages_question_input[is_optional]" id="pages_question_input_is_optional">
         <input value="false" autocomplete="off" type="hidden" name="pages_question_input[is_repeatable]" id="pages_question_input_is_repeatable">

         <div class="govuk-summary-card app-summary-card">
            <div class="govuk-summary-card__title-wrapper">
               <h2 class="govuk-summary-card__title">Answer settings</h2>
            </div>
            <div class="govuk-summary-card__content">
               <dl class="govuk-summary-list app-summary-list">
                  <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">How many options can people select</dt>
                     <dd class="govuk-summary-list__value">One or more options</dd>
                     <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/forms/262709/pages/1050713/edit/selection/type">Change<span class="govuk-visually-hidden"> How many options can people select</span></a></dd>
                  </div>

                  <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">Options</dt>
                     <dd class="govuk-summary-list__value">
                        <p class="govuk-body govuk-body-s">
                           2 options:
                        </p>
                        <ul class="govuk-list govuk-list--bullet govuk-body-s">
                           <li>one</li>
                           <li>two</li>
                        </ul>
                     </dd>
                     <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/Page/Questions/1/Answers">Change<span class="govuk-visually-hidden"> Options</span></a>
                     </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">Include an option for ‘None of the above’</dt>
                     <dd class="govuk-summary-list__value">Yes</dd>
                     <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/forms/262709/pages/1050713/edit/selection/options">Change<span class="govuk-visually-hidden"> Include an option for ‘None of the above’</span></a></dd>
                  </div>
               </dl>
            </div>
         </div>
         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


         <div class="govuk-summary-card app-summary-card">
            <div class="govuk-summary-card__title-wrapper">
               <h2 class="govuk-summary-card__title">Branching settings</h2>
            </div>
            <div class="govuk-summary-card__content">
               <dl class="govuk-summary-list app-summary-list">
                  <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">Branch 1</dt>
                     <dd class="govuk-summary-list__value">
                        <p class="govuk-body govuk-body-s">if the answer: [1, 2]</p>
                        <p class="govuk-body govuk-body-s">go to question: 4</p>
                     </dd>
                     <dd class="govuk-summary-list__actions"><a class="govuk-link" href="/forms/262709/pages/1050713/edit/selection/type">Change<span class="govuk-visually-hidden"> How many options can people select</span></a></dd>
                  </div>

                  <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">Branch 2</dt>
                     <dd class="govuk-summary-list__value">
                        <p class="govuk-body govuk-body-s">if the answer: [1, 2]</p>
                        <p class="govuk-body govuk-body-s">go to question: 4</p>
                     </dd>
                     <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/Page/Questions/1/Answers">Change<span class="govuk-visually-hidden"> Options</span></a>
                     </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">Branch 3</dt>
                     <dd class="govuk-summary-list__value">
                        <p class="govuk-body govuk-body-s">if the answer: [1, 2]</p>
                        <p class="govuk-body govuk-body-s">go to question: 4</p>
                     </dd>
                     <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Include an option for ‘None of the above’</span></a>
                     </dd>
                  </div>
               </dl>
            </div>
         </div>
         
         <ul class="govuk-list govuk-list--spaced">
            <li>
               <button type="submit" formnovalidate="formnovalidate" class="govuk-button govuk-!-margin-bottom-3" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Save question</button>
            </li>
            <li>
               <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="/forms/262709/pages/1050713/delete" data-govuk-button-init="">Delete question</a>
            </li>
            <li>
               <a class="govuk-link" href="/forms/262709/pages/1050714/edit/question">Edit next question</a>
            </li>
            <li>
               <a class="govuk-link" href="/forms/262709/pages">Back to your questions</a>
            </li>
         </ul>
      </form>
   </div>
</div>