@{
  ViewData["Title"] = "Home Page";
}

@section BeforeContent 
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/groups/9R6te7wT">Back to Care Leavers Questionnaire</a>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <form action="/forms/262709/pages/new/selection/type" accept-charset="UTF-8" method="post">
         <input type="hidden" name="authenticity_token" value="6Z6ihKI86Y5YcOzACkLOstjHAax_nDyq8uvRTzaGhPkuRU06xCfhKJJUzdJvEX8YKbiGUctEQ3SQ1ZXldzV7Yg" autocomplete="off">
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading"><span class="govuk-caption-l">Question 3</span>How many options should people be able to select?</h1>
               </legend>
               <input value="" autocomplete="off" type="hidden" name="pages_selection_type_input[only_one_option]" id="pages_selection_type_input_only_one_option">
               <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                  <div class="govuk-radios__item">
                     <input id="pages-selection-type-input-only-one-option-true-field" aria-describedby="pages-selection-type-input-only-one-option-true-hint" class="govuk-radios__input" type="radio" value="true" name="pages_selection_type_input[only_one_option]"><label for="pages-selection-type-input-only-one-option-true-field" class="govuk-label govuk-radios__label">One option from a small list</label>
                     <div class="govuk-hint govuk-radios__hint" id="pages-selection-type-input-only-one-option-true-hint">Your list can have up to 10 options</div>
                  </div>
                  <div class="govuk-radios__item">
                     <input id="pages-selection-type-input-only-one-option-false-field" aria-describedby="pages-selection-type-input-only-one-option-false-hint" class="govuk-radios__input" type="radio" value="false" name="pages_selection_type_input[only_one_option]"><label for="pages-selection-type-input-only-one-option-false-field" class="govuk-label govuk-radios__label">One option from a long list</label>
                     <div class="govuk-hint govuk-radios__hint" id="pages-selection-type-input-only-one-option-false-hint">Your list can have up to 1,000 options</div>
                  </div>
                  <div class="govuk-radios__item">
                     <input id="pages-selection-type-input-only-one-option-false-field" aria-describedby="pages-selection-type-input-only-one-option-false-hint" class="govuk-radios__input" type="radio" value="false" name="pages_selection_type_input[only_one_option]"><label for="pages-selection-type-input-only-one-option-false-field" class="govuk-label govuk-radios__label">One or more options</label>
                     <div class="govuk-hint govuk-radios__hint" id="pages-selection-type-input-only-one-option-false-hint">Your list can have up to 10 options</div>
                  </div>
               </div>
            </fieldset>
         </div>
         <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Continue</button>
      </form>
      <p>
         <a class="govuk-link" href="/forms/262709/pages">Back to your questions</a>
      </p>
   </div>
</div>