@page "/error/{errorCode?}"
@using Common.Custom
@model Frontend.Pages.Error

@{
    Layout = "Shared/_ErrorLayout.cshtml";
}

@{
    ViewData["Title"] = Model.ErrorMessage ?? "Error";
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}


<div class="govuk-grid-row" data-last-fetched="2025-09-25T15:45:38">
    <div class="govuk-grid-column-full" id="primary-content">
        @if (Model?.ErrorDescription != null)
        {
            @(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model?.ErrorDescription)))
        } else {
            <p>Sorry, there is a problem with the service.</p>
        }
    </div>
</div>