@page "/admin/questionnaires/{questionnaireId}/questions/{questionId}/answers/add/bulk"
@model Admin.Pages.Answers.BulkAnswerOptions

@{
    Layout = "_Layout";
}

@section BeforeContent
{
    <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}


@if (Model!.HasErrors())
{
    @await Html.PartialAsync("_ErrorSummary")
}


<input type="hidden" asp-for="QuestionNumber"/>

<input type="hidden" name="returnUrl" value="@($"{Request.Path}{Request.QueryString}")" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-0">
            <p class="govuk-caption-l">Question @Model.QuestionNumber</p>
            Enter all options into one text box
        </h1>
        <dl class="govuk-!-margin-bottom-7">
            <dt class="govuk-visually-hidden">Status</dt>
            <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@Model?.QuestionnaireStatus">@Model?.QuestionnaireStatus</strong>
            </dd>
        </dl>
        <p class="govuk-body">
            People will be able to select one option from your list.
        </p>

        <h2 class="govuk-heading-l">Enter answer options for your list</h2>
        <p class="govuk-body">
            Enter each option on a new line
        </p>

        <form method="post" accept-charset="UTF-8">
            <textarea class="govuk-textarea"
                      id="BulkAnswerOptions"
                      rows="8"
                      asp-for="@Model.BulkAnswerOptionsRawText"
                      aria-describedby="BulksAnswerOptions-hint"></textarea>

            <button class="govuk-button govuk-button--primary">Continue</button>
        </form>


    </div>

</div>