@page "/admin/questionnaires/{questionnaireId:guid}/start-preview"
@using Common.Custom
@using Common.Models
@model Admin.Pages.Preview.QuestionnaireStart

@{
  Layout = "Shared/_PreviewLayout";
    
  ViewData["Title"] = Model.Questionnaire.DisplayTitle;
  
  var hasErrors = Model != null && !ViewData.ModelState.IsValid;
  
  //ViewBag.PreviewClasses = "gtaa-start-page-preview";
}

@if (hasErrors)
{
  @await Html.PartialAsync("_ErrorSummary", Model)
}

@section BeforeContainer
{
  <section class="gtaa-preview-header">
    @await Html.PartialAsync("_DraftPreviewBanner")
    <section class="dfe-page-grey" id="main-content-header">
      <div class="govuk-width-container" id="main-header-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            @*<a href="@string.Format(Routes.QuestionnaireTrackById, Model.QuestionnaireId)" class="govuk-breadcrumbs__link">Home</a>*@
            <h1 class="govuk-heading-xl">@Model?.Questionnaire?.DisplayTitle</h1>
          </div>
        </div>
      </div>
    </section>
  </section>
}

<div class="govuk-grid-row" data-last-fetched="2025-09-25T15:45:38">
  <div class="govuk-grid-column-full" id="primary-content">
    @(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model?.Questionnaire?.Description)))
    <a href="/admin/questionnaires/@Model?.QuestionnaireId/next-preview?embed=@Model?.IsEmbedded" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" data-govuk-button-init=""> 
      Start now 
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg> 
    </a>
  </div>
</div>