@page "/privacy-policies"
@using Common.Models.ViewModels
@model Admin.Pages.Misc.PrivacyPolicies

@{
    var config = new ConfigViewModel();
    
    Layout = "_Layout";
    ViewBag.Title = $"Privacy policies {config.ServiceDisplayName}";
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @ViewBag.Title
            </h1>
        </div>
    </div>
}


<p class="govuk-body">
    This work is being carried out by the Department for Education (DfE).
</p>
<p class="govuk-body">
    For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of the @config.ServiceDisplayName website.
</p>
<p class="govuk-body">
    To find out how DfE collects, uses and stores personal data, see:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
    <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-members-of-the-public/privacy-information-members-of-the-public">
        Privacy information: members of the public
    </a>
</ul>