@page "/admin/questionnaires/{questionnaireId:guid}/edit"
@model Admin.Pages.Questionnaire.EditQuestionnaire

@{
  ViewData["Title"] = "Edit the questionnaire";
  var hasTitleError = Model?.UpdateQuestionnaire != null && Model.ErrorFor(nameof(Model.UpdateQuestionnaire.Title)) != null;
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back to create your questionnaire</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form accept-charset="UTF-8" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label for="forms-name-input-name-field" class="govuk-label govuk-label--l">What’s the title of your questionnaire?</label>
        </h1>
        <div class="govuk-hint" id="forms-name-input-name-hint">The form name will be shown at the top of each page of the form. Use a name
          that describes what the form will help people to do. For example ‘Apply for a
          juggling licence’.
        </div>
        @if (hasTitleError)
        {
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> @Model?.ErrorFor(nameof(Model.UpdateQuestionnaire.Title))
          </p>
        }

        <input id="forms-name-input-name-field" class="govuk-input @(hasTitleError ? "govuk-input--error" : "")"
               aria-describedby="forms-name-input-name-hint"
               type="text"
               name="Title"
               value="@(Model?.UpdateQuestionnaire?.Title ?? "")">
      </div>
      <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Save and continue</button>
    </form>
  </div>
</div>