@model Admin.Pages.Questionnaire.TrackQuestionnaires
@using AngleSharp.Common
@using Common.Enum
@using Common.Models
@using Microsoft.AspNetCore.Html

@{
  var questionnaireViewModel = Model.ViewModel;
}

@if (questionnaireViewModel.QuestionnaireState is { JustCreated: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-created-banner-text" class="govuk-notification-banner__heading">
            Your questionnaire has been created.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustUpdated: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-updated-banner-text" class="govuk-notification-banner__heading">
            Your changes have been saved.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustCloned: true })
{
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 id="just-cloned-banner-text"  class="govuk-notification-banner__heading">
          Your copy questionnaire has been created.
        </h3>
      </div>
    </div>
  </div>
</div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustPublished: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-published-banner-text" class="govuk-notification-banner__heading">
            Your questionnaire has been published.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustUnpublished: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-unpublished-banner-text" class="govuk-notification-banner__heading">
            Your questionnaire has been unpublished.
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustAddedStartPage: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-added-start-page-banner-text" class="govuk-notification-banner__heading">
            Your start page has been saved
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustRemovedStartPage: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-removed-start-page-banner-text" class="govuk-notification-banner__heading">
            Your start page has been removed
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustResetStyling: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-reset-styling-banner-text" class="govuk-notification-banner__heading">
            Your customised styling has been reset
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustCustomisedStyling: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-updated-styling-banner-text" class="govuk-notification-banner__heading">
            Your customised styling has been saved
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustAddedCustomButtonText: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-modified-button-text-banner-text" class="govuk-notification-banner__heading">
            Your button text has been saved
          </h3>
        </div>
      </div>
    </div>
  </div>
}
else if (questionnaireViewModel.QuestionnaireState is { JustRemovedStartPageImage: true })
{
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 id="just-removed-start-page-image-banner-text" class="govuk-notification-banner__heading">
            Your start page image has been removed
          </h3>
        </div>
      </div>
    </div>
  </div>
}

