@page "/admin/questionnaires/{questionnaireId}/branching-map"
@model Admin.Pages.Questionnaire.QuestionnaireBranchingMap

@{
    ViewData["Title"] = "Branching map";
}

@section BeforeContent
{
    <a class="govuk-back-link govuk-!-display-none-print" href="/admin/questionnaires/@Model.QuestionnaireBranchingMapDto?.QuestionnaireId/track">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">@Model.QuestionnaireBranchingMapDto?.QuestionnaireTitle</span>
            Branching map
        </h1>
        <dl class="govuk-!-margin-bottom-7">
            <dt class="govuk-visually-hidden">Status</dt>
            <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@Model?.QuestionnaireStatus">@Model?.QuestionnaireStatus</strong>
            </dd>
        </dl>

        <div class="govuk-hint">This visualises question-to-answer branching. Answers’ scores only indicate prioritisation and do not affect routing.</div>

        <div id="diagram-wrapper" class="govuk-!-margin-top-4">
            <div id="diagram" class="mermaid">
                @Model.QuestionnaireBranchingMapDto?.Source
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/mermaid.min.js"></script>
    <script>
  window.mermaid.initialize({ 
    startOnLoad: true, 
    theme: 'redux', 
    securityLevel: 'loose'
  });
</script>
}