@page "/admin/questionnaires/{questionnaireId}/branching-map"
@model Admin.Pages.Questionnaire.QuestionnaireBranchingMap

@{
    ViewData["Title"] = "Branching map";
}

@section BeforeContent
{
    <a class="govuk-back-link govuk-!-display-none-print" href="/admin/questionnaires/@Model.QuestionnaireBranchingMapDto?.QuestionnaireId/track">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-0">
            <span class="govuk-caption-l">@Model.QuestionnaireBranchingMapDto?.QuestionnaireTitle</span>
            View branching map
        </h1>

        <div class="govuk-hint govuk-!-margin-bottom-8">
            <p>This visual map is an extra way for you to review how branching works between questions and answers. You can also do this by <a href="/admin/questionnaires/@Model.QuestionnaireBranchingMapDto?.QuestionnaireId/questions">reviewing answer destinations.</a></p>

            <p>You may need to use your browser zoom settings to view detail.</p>
        </div>

        <div id="diagram-wrapper" class="govuk-!-margin-top-4">
            <div id="diagram" class="mermaid">
                @Model.QuestionnaireBranchingMapDto?.Source
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/mermaid.min.js"></script>
    <script>
  window.mermaid.initialize({ 
    startOnLoad: true, 
    theme: 'redux', 
    securityLevel: 'loose'
  });
</script>
}