@page "/support"
@model Admin.Pages.Home.Support

@{
    Layout = "_Layout";
    ViewData["Title"] = "Support";
}


@* TODO: Links for below to follow *@
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @ViewData["Title"]
        </h1>

        <p class="govuk-body">
            To help decide if this pattern is right for your use case, read about 
            <a href="#" class="govuk-link">'Get to an answer' in the DfE Design Manual</a>.
        </p>

        <p class="govuk-body">
            The <a href="#" class="govuk-link">'Get to an answer' user guide (opens in Sharepoint)</a> 
            has more detailed guidance on setting up a questions and answers and the various settings you can apply. 
            You should read this before you start building your questionnaire.
        </p>

        <p class="govuk-body">
            <a href="#" class="govuk-link">Technical documentation for ‘Get to an answer’</a> 
            provides further information on how the component works.
        </p>
    </div>
</div>

