@page "/admin/questionnaires/{questionnaireId:guid}/start-page/delete-confirmation"
@addTagHelper *, Common
@using Common.Enum
@model Admin.Pages.Confirmations.ConfirmDeleteStartPage

@{
  ViewData["Title"] = "Delete your start page";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form method="post" class="govuk-!-margin-top-6">
        <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
                    Are you sure you want to delete your questionnaire's start page?
                </h1>
                <dl class="govuk-!-margin-0">
                    <dt class="govuk-visually-hidden">Status</dt>
                    <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@Model?.QuestionnaireStatus">@Model?.QuestionnaireStatus</strong>
                    </dd>
                </dl>
            </legend>
            <div class="govuk-warning-text govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    By deleting this result page, existing answers using this result page will be broken.
                </strong>
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="finished-yes" name="RemoveStartPage" type="radio" asp-for="@Model.RemoveStartPage"
                           value="true">
                    <label class="govuk-label govuk-radios__label" for="finished-yes">
                        Yes, delete it
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="finished-no" name="RemoveStartPage" type="radio" asp-for="@Model.RemoveStartPage"
                           value="false">
                    <label class="govuk-label govuk-radios__label" for="finished-no">
                        No, keep it
                    </label>
                </div>
            </div>
        </fieldset>

        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit"
                asp-page-handler="Continue">
            Continue
        </button>
    </form>
  </div>
</div>