@page "/admin/questionnaires/{questionnaireId:guid}/unpublish-confirmation"
@model Admin.Pages.Confirmations.ConfirmUnpublishQuestionnaire

@{
    ViewData["Title"] = "Unpublish the questionnaire";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form method="post" class="govuk-!-margin-top-6">
            @Html.AntiForgeryToken()
            <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
                        Are you sure you want to unpublish this questionnaire?
                    </h1>
                    <dl class="govuk-!-margin-0">
                        <dt class="govuk-visually-hidden">Status</dt>
                        <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@Model?.QuestionnaireStatus">@Model?.QuestionnaireStatus</strong>
                        </dd>
                    </dl>
                </legend>

                <div id="finished-hint" class="govuk-hint">
                </div>

                <div class="govuk-warning-text govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        By unpublishing this questionnaire, it will be unavailable to service users.
                    </strong>
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="finished-yes" name="UnpublishQuestionnaire" type="radio" asp-for="@Model.UnpublishQuestionnaire"
                               value="true">
                        <label class="govuk-label govuk-radios__label" for="finished-yes">
                            Yes, unpublish it
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="finished-no" name="UnpublishQuestionnaire" type="radio" asp-for="@Model.UnpublishQuestionnaire"
                               value="false">
                        <label class="govuk-label govuk-radios__label" for="finished-no">
                            No, leave it published
                        </label>
                    </div>
                </div>
            </fieldset>

            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit"
                    asp-page-handler="Continue">
                Continue
            </button>
        </form>
    </div>
</div>