@page "/admin/questionnaires/{questionnaireId:guid}/publish-confirmation"
@model Admin.Pages.Confirmations.ConfirmPublishQuestionnaire

@{
    ViewData["Title"] = "Publish the questionnaire";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form method="post" class="govuk-!-margin-top-6">
            @Html.AntiForgeryToken()
            <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
                        Are you sure you want to publish this questionnaire?
                    </h1>
                </legend>
                <div class="govuk-hint govuk-!-margin-bottom-8">
                    <p>Before you publish your questionnaire, make sure you have added all questions and answers, and created a questionnaire ID.</p>

                <p>Once you have published your questionnaire, you'll still need to add it to your service before anyone can use it.</p>
                
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="finished-yes" name="PublishQuestionnaire" type="radio" asp-for="@Model.PublishQuestionnaire"
                               value="true">
                        <label class="govuk-label govuk-radios__label" for="finished-yes">
                            Yes, publish it
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="finished-no" name="PublishQuestionnaire" type="radio" asp-for="@Model.PublishQuestionnaire"
                               value="false">
                        <label class="govuk-label govuk-radios__label" for="finished-no">
                            No, not yet
                        </label>
                    </div>
                </div>
            </fieldset>

            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit"
                    asp-page-handler="Continue">
                Continue
            </button>
        </form>
    </div>
</div>