name: Generate - Zap Scan

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment to run scan against'
        required: true
        default: 'Development'
        options:
          - 'Development'
          - 'Test'
          - 'Production'

run-name: Running ZAP scan against ${{ github.event.inputs.environment }}
jobs:
  zap_scan:
    name: 'Run Zap Scan'
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
    steps:
      - name: 'Checkout source'
        uses: actions/checkout@v6

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          creds: |
            {
                "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
                "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
                "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
                "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: Get Azure Frontdoor URL
        run: |
          DOMAINS=$(az afd custom-domain list \
            -g ${{ vars.GTAA_PREFIX }}rg-uks-gtaa \
            --profile-name ${{ vars.GTAA_PREFIX }}fwb-uks-web \
            | jq -r '.[].hostName')
          i=1
          for d in $DOMAINS; do
            echo "FRONTDOOR_URL_$i=$d" >> "$GITHUB_ENV"
            if [[ "$d" == *"admin."* ]]; then
              echo "REPORT_NAME_$i=admin_report" >> "$GITHUB_ENV"
            elif [[ "$d" == *"api."* ]]; then
              echo "REPORT_NAME_$i=api_report" >> "$GITHUB_ENV"
            else
              echo "REPORT_NAME_$i=frontend_report" >> "$GITHUB_ENV"
            fi
            i=$((i+1))
          done

      - name: 'Running ZAP scan against https://${{ env.FRONTDOOR_URL_1 }}'
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'https://${{ env.FRONTDOOR_URL_1 }}'
          rules_file_name: 'rules.tsv'
          cmd_options: "-a -z -c zapscan.options"
          allow_issue_writing: 'false'
          artifact_name: ${{ env.REPORT_NAME_1 }}
          
      - name: 'Store report for https://${{ env.FRONTDOOR_URL_1 }}'
        run: |
          mkdir -p docs/scans
          if [[ "${{ env.FRONTDOOR_URL_1 }}" == *"admin."* ]]; then
            mv report_md.md docs/scans/Security-Scan-Report-Admin.md
            echo "Moved report to docs/scans/Security-Scan-Report-Admin.md"
          elif [[ "${{ env.FRONTDOOR_URL_1 }}" == *"api."* ]]; then
            mv report_md.md docs/scans/Security-Scan-Report-Api.md
            echo "Moved report to docs/scans/Security-Scan-Report-Api.md"
          else
            mv report_md.md docs/scans/Security-Scan-Report-Frontend.md
            echo "Moved report to docs/scans/Security-Scan-Report-Frontend.md"
          fi

      - name: 'Running ZAP scan against https://${{ env.FRONTDOOR_URL_2 }}'
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'https://${{ env.FRONTDOOR_URL_2 }}'
          rules_file_name: 'rules.tsv'
          cmd_options: "-a -z -c zapscan.options"
          allow_issue_writing: 'false'
          artifact_name: ${{ env.REPORT_NAME_2 }}

      - name: 'Store report for https://${{ env.FRONTDOOR_URL_2 }}'
        run: |
          mkdir -p docs/scans
          if [[ "${{ env.FRONTDOOR_URL_2 }}" == *"admin."* ]]; then
            mv report_md.md docs/scans/Security-Scan-Report-Admin.md
            echo "Moved report to docs/scans/Security-Scan-Report-Admin.md"
          elif [[ "${{ env.FRONTDOOR_URL_2 }}" == *"api."* ]]; then
            mv report_md.md docs/scans/Security-Scan-Report-Api.md
            echo "Moved report to docs/scans/Security-Scan-Report-Api.md"
          else
            mv report_md.md docs/scans/Security-Scan-Report-Frontend.md
            echo "Moved report to docs/scans/Security-Scan-Report-Frontend.md"
          fi

      - name: 'Running ZAP scan against https://${{ env.FRONTDOOR_URL_3 }}'
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'https://${{ env.FRONTDOOR_URL_3 }}'
          rules_file_name: 'rules.tsv'
          cmd_options: "-a -z -c zapscan.options"
          allow_issue_writing: 'false'
          artifact_name: ${{ env.REPORT_NAME_3 }}

      - name: 'Store report for https://${{ env.FRONTDOOR_URL_3 }}'
        run: |
          mkdir -p docs/scans
          if [[ "${{ env.FRONTDOOR_URL_3 }}" == *"admin."* ]]; then
            mv report_md.md docs/scans/Security-Scan-Report-Admin.md
            echo "Moved report to docs/scans/Security-Scan-Report-Admin.md"
          elif [[ "${{ env.FRONTDOOR_URL_3 }}" == *"api."* ]]; then
            mv report_md.md docs/scans/Security-Scan-Report-Api.md
            echo "Moved report to docs/scans/Security-Scan-Report-Api.md"
          else
            mv report_md.md docs/scans/Security-Scan-Report-Frontend.md
            echo "Moved report to docs/scans/Security-Scan-Report-Frontend.md"
          fi

      - name: Commit and Push Report
        run: |
          git add docs/scans/Security-Scan-Report-Admin.md
          git add docs/scans/Security-Scan-Report-Api.md
          git add docs/scans/Security-Scan-Report-Frontend.md
          git config --global user.name "Documentation Bot"
          git config --global user.email "documentation-bot-bot@users.noreply.github.com"
          git commit -am "Generated zap scan report"
          git push
        continue-on-error: true